/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
/* background-color */
.background-color{
    background-color: #264653;
}
/* button color  */
.button-color{
    background-color: #E76F51;
    color: white;
    font-weight: 700;
}
/* Fetured Bikes text color & horizantal line style or gray image*/
.text-color{
    color: #E76F51;
}
.horizantal-style{
    width: 170px;
    height:15px;
    margin: auto;
    color:#E76F51;
}
.gray-img{
        filter: grayscale(100%);
}

/* star icon */
.star-color{
   color: #E77C40;
   
}
.star-icon{
    color: #E77C40;
}
